<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Electron App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- .classname enter for making a div with class and use # when eith id -->
    <div class="menu-container">
        <img src="images/logo.png" id="logo-image">
        <div class="file">File</div>
        <div class="home active-menu">Home</div>
        <div class="view">View</div>
    </div>

    <div class="menu-options-container">
        <div class="file-options">
            <button class="new">New</button>
            <button class="open">Open</button>
            <button class="save">Save</button>
        </div>

        <div class="home-options active">
            <select name="" id="font-type">
                <option value="arial">Arial</option>
                <option value="monospace">Monospace</option>
                <option value="cursive">Cursive</option>
                <option value="sans-serif">Sans-Serif</option>
            </select>

            <div class="font-styling">
                <button id="bold"><b>B</b></button>
                <button id="italic"><i>I</i></button>
                <button id="underline"><u>U</u></button>
            </div>

            <select name="" id="font-size">
                <%for(let i=10;i<42;i+=2){%>
                <option value=<%=i%>><%=i%></option>
                <%}%>
            </select>
            <div class="cell-color">
                <!-- https://www.w3schools.com/tags/att_input_type_color.asp#:~:text=The%20%3Cinput%20type%3D%22color,in%20seven%2Dcharacter%20hexadecimal%20notation. -->
                <input type="color" value="#000000" name="" id="cell-font">
                <!-- <div class="div">font</div> -->
                <input type="color" value="#ffffff" name="" id="cell-background">
            </div>

            <div class="alignment">
                <button id="left">L</button>
                <button id="center">C</button>
                <button id="right">R</button>
            </div>


        </div>


    </div>

    <div class="formula-input">
        <img src="./images/formula.png" id="formula-image">
        <input type="text" name="" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="container">
        <div class="content">
            <!-- top left cell -->
            <div class="top-left-cell"></div>

            <!-- top row 26 cols for A,B,C,D...-->
            <div class="top-row">
                <%for(let j=0;j<26;j++){%>
                <div class="top-row-ele" cn=<%=j%>><%=(String.fromCharCode(j+65))%></div>
                <%}%>
            </div>

            <!-- left col-->
            <div class="left-col">
                <%for(let j=0;j<100;j++){%>
                <div class="left-col-ele" rn=<%=j%>><%=(j+1)%></div>
                <%}%>
            </div>

            <div class="cells">
                <%for(let i=0;i<100;i++){%>
                <div class="row">
                    <%for(let j=0;j<26;j++){%>
                    <div contenteditable="true" class="cell" rn=<%=i%> cn=<%=j%>></div>
                    <%}%>
                </div>
                    <%}%>
                </div>
        </div>
    </div>

    <div class="sheets">
        <!-- Sheets -->
        <div class="sheet-list">
            <div class="sheet active-sheet">Sheet 1</div>
            <div class="add-button">
                <img src="images/plus.png" id="plus-image">
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>